<h3>Create a Playlist</h3>


<%= form_for @playlist, url: playlists_path, local: true do |form| %>
  <div class="input-field">
    <%= form.label :name, 'Playlist Name:' %>
    <%= form.text_field :name %>
  </div>

  <div id="track-inputs">
    <%= form.fields_for :tracks do |tff| %>
      <fieldset class="track-item">
        <legend>&nbsp;track&nbsp;</legend>
        <div class="input-field">
        <%= tff.text_field :name %>
        <%= tff.label :name %>
        </div>
        <div class="input-field">
        <%= tff.label :artist %>
        <%= tff.text_field :artist %>
        </div>
        <div class="input-field">
        <%= tff.label :url %>
        <%= tff.text_field :url %>
        </div>
      </fieldset>
    <% end %>
  </div>

  <p>
    <%= button_tag "add track", type: 'button', :onclick => "javascript:trackMaker('.track-item', 'track-inputs')"%>
  <p>

  <p>
    <%= form.submit %>
  </p>
<% end %>