<h1>I'm new</h1>


<%= form_for @playlist, url: playlists_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <div id="track-inputs">
    <%= form.fields_for :tracks do |tff| %>
      <fieldset class="track-item">
        <h3>track</h3>
        <p>
        <strong><%= tff.label :name %>: <strong>
        <%= tff.text_field :name %>
        </p>
        <p>
        <strong><%= tff.label :artist %>: <strong>
        <%= tff.text_field :artist %>
        </p>
        <p>
        <strong><%= tff.label :url %>: <strong>
        <%= tff.text_field :url %>
        </p>
      </fieldset>
    <% end %>
  </div>

  <p>
    <%= button_tag "add track", type: 'button', :onclick => "javascript:trackMaker('.track-item', 'track-inputs')"%>
  <p>

  <p>
    <%= form.submit %>
  </p>
<% end %>